\begin{document}

% creates an education entry
% 1: School Name
% 2: Degree Name
% 3: GPA, just a decimal. ie 2.4
% 4: Graduation Date
% 5: awards
% 6: relevent classes

\newcommand{\Education}{
  \customSection{Education}

  \PYTHON{ for school in Education }
  \PY{ school | Education }
  \PYTHON{ endfor }
}

\end{document}