\begin{document}

% Creates a project entry
% 1: project name
% 2: project type. ie personal, club, class
% 3: start date
% 4: end date
% 5: titles
% 6: Description of Project
% 7: Array of tasks
\newcommand{\projectEntry}[7]{
  \keepTogether{
    \doubleLineEntry{#1(#2)}{ #3 | #4}{\textbf{#5}}{}
    #6
    \bullettedList{#7}
  }
  
}

\newcommand{\projects}{
  \customSection{Projects}
  \PYTHON{ for project in projects }
  \PY{ project | Project }
  \PYTHON{ endfor }
}

\end{document}