\documentclass[\PY{ fontSize }]{article}

%packages
\usepackage{geometry} %set peper size and font
\usepackage{parskip} %probs redundant with setspace
\usepackage{setspace} %single space document
\usepackage{enumitem} %spacing after indent
\usepackage{tikz} %arrays
\usepackage{xcolor} %color
\usepackage{hyperref} %links
\usepackage{ifthen} %self explanatory
\usepackage{titlesec} %spacing for sections
\usepackage{docmute}
\usepackage{import}


% formatting option --------------------------------------------------------------------------------------------
\newcommand{\marginSize}{\PY{ margin }}
\newcommand{\themeColorOne}{\PY{ themeColorOne }}

\singlespacing
\newcommand{\nameColor}{\themeColorOne}
\newcommand{\sectionColor}{\themeColorOne}
\geometry{letterpaper, margin=\marginSize}
\newcommand{\entrySpacing}{4pt}
\titlespacing\section{0pt}{4pt}{0pt}
\setlength\parindent{0pt}


\hypersetup{
  colorlinks=true,
  urlcolor=\themeColorOne
}

% TODO: switch this to renew command to use base section
\newcommand{\customSection}[1]{
  \section*{\textcolor{\sectionColor}{#1}}
  \vspace{0in}
}

% formats the resources
% 1 email
% 2 phone number
% 3 linkedin
% 4 github
\newcommand{\resources}[4]{
  \begin{center}
    \begin{tabular}{ll}
      \resourceItemFormat{Email}{#1} & \resourceItemFormat{Phone Number}{#2} \\
      \resourceItemFormat{LinkedIn}{#3} & \resourceItemFormat{Github}{#4} \\
    \end{tabular}
  \end{center}
}

% formats a resource item
% 1 item name
% 2 item value
\newcommand{\resourceItemFormat}[2] {
  \textbf{#1}: #2
}
% format your name
% 1 name
\newcommand{\nameFormat}[1]{
  \begin{center}
    {\LARGE \textcolor{\nameColor}{#1}}
  \end{center}
  \vspace{8pt}
}
% begin document
\begin{document}

\nameFormat{\PY{ name }}
\resources{\PY{ email }}{ \PY{ phoneNumber }}{\PY{ linkedIn | URL }}{\PY{ github | URL }}
\noindent\rule{\textwidth}{1pt}

\customSection{Education}
\PYTHON{ for school in Education }
\PY{ school | Education }
\PYTHON{ endfor }

\customSection{Work Experience}
\PYTHON{ for job in JobExperience }
\PY{ job | Work }
\PYTHON{ endfor }

\customSection{Projects}
\PYTHON{ for project in projects }
\PY{ project | Project }
\PYTHON{ endfor }

\customSection{ Skills }
\PY{ skills | Skills }
\end{document}

